@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["Email"]</h3>

<address>
    Vitoria - Espirito Santo<br />
    Vila Velha - Alvorada<br />
    <abbr title="Phone">P:</abbr>
    (27)99977-2354
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Suporte@alterdata.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@alterdata.com.br</a>
</address>
